<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="favicon.ico">
 
      <script src="https://accounts.google.com/gsi/client" async defer></script>
  
</head>

<style>
    body {

        /* background-color: rgb(233, 233, 231); */
        /* background-color: hsl(40, 10, 218); */
        font-family: 'Roboto', sans-serif;
        /* background: white; */
        /* background-color: blue; */
        background: linear-gradient(62deg, #4158D0 5%, #556de7 40%, #E0C3FC 100%);
        min-height: 100vh;



    }


    /* #bottom{

height:5vh;

} */
    #person_img {
        display: inline-block;
        /* position: relative; */

        width: 45px;
    }

    #or-head {

        text-align: center;
        position: relative;
        top: 17px;
        display: none;
    }

    input {
        background-color: rgb(255, 255, 255);
        /* background-color: hsl(160, 0, 240); */
        /* background-color: blue; */
        width: 250px;

        /* height: 30px; */
        border: none;
        /* margin:auto; */
        margin: 10px;
        /* border-radius:10px; */


    }

    input:focus {
        outline-style: none;
        ;
    }

    .login-box {
        background-color: white;
        /* background-color: hsl(40, 22, 230); */
        width: 60%;
        /* height: 400px; */
        /* border: 1px solid rgb(0, 0, 0); */
        margin: auto;
        padding: 25px 0px;
        z-index: 2;
        margin-top: 35px;
        /* background-color: blue; */
    }

    .input-field {
        display: inline-block;
        width: 50%;
        text-align: center;
        /* margin:auto;  */
        border-radius: 40px;
        margin: 10px;

        /* border:2px solid green; */
        background-color: rgb(255, 255, 255);
        /* background-color: hsl(160, 0, 240); */
        box-shadow: 2px 2px 4px -3px black;

        padding-left: 5px;
        padding-right: 10px;
    }

    .input-field:focus {
        border: 1px solid black;
    }

    .login-body {
        text-align: center;
    }

    .svg-icon {
        font-size: 15px;
        position: relative;
        top: 3px;
        left: 3px;

    }

    #fb-icon {
        color: blue;
        font-size: 100px;
    }


    .button {
        background-color: blue;
        color: white;
        border: none;
        padding: 8px 10px;
        width: 50%;
        margin: 0px;
        position: relative;
        left: -5px;
        border-radius: 20px;
        margin: 5px;

    }

    .button:hover {
        cursor: pointer;
        border-radius: 10px;
        transition: 500ms;

    }

    .button:focus {
        outline: none;
    }

    #fb-button {
        color: blue;
        font-size: 10px;
        height: 10px;
        /* background-color: hsl(146, 108, 99); */
        background-color: rgb(58, 91, 153);


    }


    #gm-butt {
        /* background-color: hsl(6, 224, 141); */
        background-color: rgb(248, 81, 51);
    }

    #login-butt,
    #reg-butt {
        /* background-color: hsl(131, 240, 45); */
        background-color: rgb(0, 70, 96);
    }

    #fb-icon {
        position: relative;
        top: 2px;

    }

    #gm-icon {
        position: relative;
        top: 2px;
        left: -2px;
        color: white;
    }

    .hr-line {
        width: 18%;
        display: inline-block;


        position: relative;
        top: 4px;

    }

    #remem-me {
        display: inline;
        width: 20px;
    }

    #head-message {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .rember-me {
        display: inline-block;
        width: 50%;
        text-align: left;
    }

    #bottom-rule {
        width: 23%;
        height: 3px;
        border-radius: 10px;
        /* background-color: hsl(131, 240, 45); */
        background-color: rgb(0, 70, 96);
        margin: 16px auto;
        display: none;

    }

    .rember-me {
        position: relative;
    }

    #forgot-pass {

        font-size: 12px;
        position: absolute;
        top: -15px;
        right: 0px;

        margin-bottom: 10x;

    }


/* .goog-but-par{ 
    border: 1px solid blue; 
    display:inline-block ; 
    margin:7px ; 
    
} */







    @media screen and (min-width:951px) {

        #box {
            /* border: 1px solid black; */
            position: relative;
            width: 900px;
            margin: auto;
            margin-top: 30px;

            background-color: rgb(247, 247, 247);
            /* background-color: hsl(160, 0, 232); */
            padding: 30px;
        }

        #chat_img {
            width: 450px;
            display: inline-block;

            z-index: 1;
            /* padding:100px; */
            position: absolute;
            right: 0px;
            top: 60px;
        }

        .login-box {
            width: 50%;
            margin: 0px;
            border: none;
            background-color: white;
            z-index: 2;
            margin-top: 35px;
            /* background-color: hsl(160, 0, 232); */
        }

        #head-message {

            margin-bottom: 2px;
        }

        .input-field {
            width: 70%;

        }

        .rember-me {
            width: 71%;
        }

        .button {
            width: 70%;
        }

    }

    #message {
        border-radius: 1px solid blue;
        background-color: green;
        color: white;
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 5px;
        display: none;
    }

    .g_id_signin,.fb-login-button {    
            /*  width :315px; */
    margin: auto;

    position: relative;
    right: 4px;
    min-height: 34px;
    margin: 6px 0px;
    display: flex;
    border-radius: 
    border-radius: 20px;
    /* flex-direction: row; */
    justify-content: center;
   /*   border: 1px solid black;  */
    /* border: 1px solid #dadce0; */
}
 .but-bx-par{
        min-height: 80px;
      /*   border: 1px solid black;  */
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
 }

.fb-login-button{
  margin:  4px 0px;
}
 

    @media screen and (min-width:401px) and (max-width:950px) {

        .input-field {

            width: 76%;
        }

        input {
            width: 71%;
        }

        .rember-me {

            width: 78%;
            text-align: left;
        }

        .button {
            width: 76%;
        }

        #chat_img {
            display: none;
        }

        #bottom-rule {

            display: block;
        }
    

    }

    @media screen and (max-width:400px) {
        .login-box {
            width: 95%;
            margin-top: 35px;
        }

        .input-field {

            width: 76%;
        }

        input {
            width: 71%;
        }

        .rember-me {

            width: 78%;
            text-align: left;
        }

        .button {
            width: 76%;
        }

        #chat_img {
            display: none;
        }

        #bottom-rule {

            display: block;
        }

        body {
            background-color: rgb(168, 168, 230);
        }

    }

    @media screen and (max-width:250px) {

        .button {
            width: 95%;
            left: 0px;

        }

        .svg-icon {
            display: none;
        }

        .rember-me {

            width: 95%;
            font-size: 15px;

        }

        #remem-me {
            margin: 5px;
        }

        .button {
            padding-left: 0px;
            padding-right: 0px;
        }
    }


    @media screen and (max-width:950px) {
        .login-box {
            background-color: white;
            border: none;
            margin-top: 35px;
        }

        #or-head {

            display: block;
        }


    }

 

    /* #g_id_onload{
            border: 1px solid black; 
        } */

        /* .nsm7Bb-HzV7m-LgbsSe-MJoBVe  , .haAclf , .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb , .nsm7Bb-HzV7m-LgbsSe-BPrWId {
            border: 10px solid black !important;
        } */
</style>

<body>

    <div id="box">

        <div class="login-box">
            <div id="or-head">
                <hr class="hr-line"> <img id="person_img" src="person.png" alt="">
                <hr class="hr-line">

            </div>
            <p id="head-message"> Login </p>

            <hr style="width: 80%;">
            <div id="message"></div>
            <div class="login-body">
                <span class="input-field"> <svg class="svg-icon" width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                        data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                        <path fill-rule="evenodd"
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z">
                        </path>
                    </svg><input type="text" id="email" name="email" placeholder="Your Email"> </span>
                <span class="input-field"> <svg class="svg-icon" width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-key-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                        data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                        <path fill-rule="evenodd"
                            d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z">
                        </path>
                    </svg> <input type="password" id="user-pass" name="pass" placeholder="Password"> </span>
                <span class="rember-me"> <a href="forgot" id="forgot-pass">Forgot password?</a> </span>

                <span class="rember-me"> <input type="checkbox" name="remem_me" id="remem-me"> Remember Me</span>




                <button type="button" id="login-butt" class="button"> Login </button>
                <div id="or">
                    <hr class="hr-line"> OR
                    <hr class="hr-line">
                </div>

                <button id="reg-butt" class="button"> Register Account </button>

        <div id="or">
                    <hr class="hr-line"> OR
                    <hr class="hr-line">
                </div>
             
<div class="but-bx-par">

              <div class="g_id_signin" data-type="standard" data-shape="pill" data-width="315" data-size="medium"
        data-text="signup_with" data-logo_alignment="left"></div>

    {{!-- <div class="fb-login-button" data-width="315" data-size="medium" data-button-type="login_with" data-layout="rounded"
        data-auto-logout-link="false" data-use-continue-as="false"  ></div> --}}

         <fb:login-button  class="fb-login-button" data-width="315" data-size="medium" data-button-type="login_with" data-layout="rounded"
        data-auto-logout-link="false" data-use-continue-as="false"  scope="public_profile,email" onlogin="checkLoginState();"> Log in with Facebook </fb:login-button>
 
</div>
                <!--
                    <button id="fb-butt" class="button"> <svg id="fb-icon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 48 48" width="1rem" height="1rem">
                        <linearGradient id="Ld6sqrtcxMyckEl6xeDdMa" x1="9.993" x2="40.615" y1="9.993" y2="40.615"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#2aa4f4" data-darkreader-inline-stopcolor=""
                                style="--darkreader-inline-stopcolor:#08639e;"></stop>
                            <stop offset="1" stop-color="#007ad9" data-darkreader-inline-stopcolor=""
                                style="--darkreader-inline-stopcolor:#00589d;"></stop>
                        </linearGradient>
                        <path fill="#fff"
                            d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z"
                            data-darkreader-inline-fill="" style="--darkreader-inline-fill:#d1cfcc;"></path>
                    </svg> Login via Facebook</button>


                     <button    onclick="clickSignInWithGoolge()" id="gm-butt" class="button"> <svg id="gm-icon" xmlns="http://www.w3.org/2000/svg" fill="white"
                        viewBox="0 0 24 24" width="1rem" height="1rem" data-darkreader-inline-fill=""
                        style="--darkreader-inline-fill:#382810;">
                        <path
                            d="M12.545,10.239v3.821h5.445c-0.712,2.315-2.647,3.972-5.445,3.972c-3.332,0-6.033-2.701-6.033-6.032 s2.701-6.032,6.033-6.032c1.498,0,2.866,0.549,3.921,1.453l2.814-2.814C17.503,2.988,15.139,2,12.545,2 C7.021,2,2.543,6.477,2.543,12s4.478,10,10.002,10c8.396,0,10.249-7.85,9.426-11.748L12.545,10.239z">
                        </path>
                    </svg> Login via Gmail</button> -->

                 
        
            </div>



            <hr id="bottom-rule">

        </div>


        <img id="chat_img" src="chat_image.png" alt="">
    </div>
    <div id="bottom"></div>



    <!-- <button >sign in with google </button>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
     <div class="g-signin2" data-onsuccess="handleCredentialResponse"></div> 
    <a href="#" onclick="signOut();">Sign out</a>  -->

    <!-- </script><script src="https://apis.google.com/js/platform.js" async defer></script> -->

    <!-- <a href="youtube.com" target="_parent"  >Sign out</a> -->

  <!--  google data but -->
    <div id="g_id_onload" data-client_id="{{GOOGLE_CLIENT_Id}}"     data-callback="handleCredentialResponse">
    </div>

  <!--  facebook  but -->
  {{!-- <fb:login-button    scope="public_profile,email" onlogin="checkLoginState();"> Login with goolge </fb:login-button>
<div id="status"> --}}

 <script  src="./js/sendRequest.js"    ></script>
    <script    crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js" ></script>
    <script>
        var email = document.getElementById("email");
        var user_pass = document.getElementById("user-pass");
        var login_butt = document.getElementById("login-butt");
        var reg_butt = document.getElementById("reg-butt");
        var remem_me = document.getElementById("remem-me");
        var message = document.getElementById("message");
        // var gm_butt = document.getElementById("gm-butt");
        // var container = document.getElementById("container");
        
        var is_rec_reqest = true;
        var timeout_id;


        if (localStorage.getItem("rem")) {

            email.value = localStorage.getItem("email");
            user_pass.value = localStorage.getItem("pass");
            remem_me.checked = true;
        }

       
        function send_xhr(param, url) {
            if (!is_rec_reqest) {
                // return; 
            }
            is_rec_reqest = false;
            login_butt.textContent = "Processing..."
            let xhttp = new XMLHttpRequest();
            xhttp.open("POST", url, true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");


            xhttp.onreadystatechange = function () {

                if (this.readyState == 4) {
                    let data = JSON.parse(this.response);
                    if (this.status >= 200 && this.status < 300) {
                        localStorage.setItem("ln", "1");
                        location = "./home";
                    }
                    else {
                        console.log("error occured");
                        console.log(data);
                        display_message(data.message, "red");
                    }
                    ;
                    login_butt.textContent = "Login";
                    is_rec_reqest = true;
                }

            }

            xhttp.send(param);
        }
        function display_message(mess, color) {
            clearTimeout(timeout_id);
            message.innerHTML = mess;
            message.style.display = "block";
            message.style.backgroundColor = color;
            timeout_id = setTimeout(() => {
                message.innerHTML = "";
                message.style.display = "none";
            }, 5000);

        }

        login_butt.addEventListener("click", () => {
            let param;
            if (remem_me.checked) {
                localStorage.setItem("email", email.value);
                localStorage.setItem("pass", user_pass.value);
                localStorage.setItem("rem", true);


                console.log("seteed'); ");

            } else {
                localStorage.removeItem("email");
                localStorage.removeItem("pass");
                localStorage.removeItem("rem");
            }
            let user_email, user_password;

            user_email = encodeURIComponent(email.value.trim());
            user_password = encodeURIComponent(user_pass.value.trim());
            if (user_password == "" || user_email == "") {

                display_message("All Fields are Required", "red");
                return
            }
            param = "email=" + user_email + "&password=" + user_password;
            send_xhr(param, "./login");

        });

        reg_butt.addEventListener("click", () => {
            email.value = user_pass.value = "";
            location = "./reg";
        })

 
 // sign in with goolge 
    async function handleCredentialResponse(googleUser) {
       // console.log(googleUser);
  
        try {

            let response = await sendRequest.post(JSON.stringify(googleUser), "/google_signin", "application/json");
            response = JSON.parse(response);
            console.log(response);
            localStorage.setItem("ln", "1");
            location = "./home"; 
        }
        catch (err) {
            console.error(err);
            let error = JSON.parse(err);
            display_message(error.message, "red");

        }
 
    }

 

 // sign in with Facebook 
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{FACEBOOK_APP_Id}}',
        cookie     : true,
        xfbml      : true,
        version    : 'v14.0'
      });
        
      FB.AppEvents.logPageView();  
       
    };


    // FB.getLoginStatus(function(response) {
   //    statusChangeCallback(response);
   // });

  async function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
        try {

             let param = JSON.stringify(response.authResponse) ; 
             console.log( param )
            let responseData = await sendRequest.post(param, "/facebook_signin", "application/json");
            responseData = JSON.parse(responseData);
            console.log(responseData);
            localStorage.setItem("ln", "1");
            location = "./home"; 
        }
        catch (err) {
            console.error(err);
            let error = JSON.parse(err);
            display_message(error.message, "red");

        }
 
    } 
    else{
         display_message("Failed to Log in with Facebook", "red");
    }

  }

  function testAPI() {      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?locale=en_US&fields=name,email', function(response) {
  
      console.log( JSON.stringify ( response ) )
      console.log(response )

      console.log('Successful login for: ' + response.name);
     
    })
  }

function checkLoginState() { 
    console.log( "checkLoginState")              // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


    
    </script>
  
</body>

</html>