<div style=" background-color: #f4f4f4;margin:0px ; padding:0px;font-family: Helvetica, Arial, sans-serif;  font-weight: 400; line-height: 25px;height:1000px" > 
    <div   style="background-color:#7c72dc;height:100px;">
    </div>
    
  
    <div   style="background-color:#7c72dc;height: 90px;">
         <h1 style="background-color:#ffffff; width:500px;;margin:auto;border-radius: 4px 4px 0px 0px; color: #978582; font-family:  Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: 4px; line-height: 120px;text-align: center;">   Trouble signing in?</h1>

    </div>
    <div  style="background-color:#ffffff;height: 450px;width:500px;;margin:auto;border-radius: 3px ;text-align:center ">
   
         
       
        <p style="  padding: 20px 30px 40px 30px; color: #666666;  font-size: 18px; text-align:left">
        Forgot your Password. Resetting   password is easy. Just <b>press the button below</b>or use the following <b> Code <span style="font-size:larger;color:white; background-color: #7c72dc;padding:2px 15px"> {{$activate_code}}</span></b> and  follow the instructions. We w’ll have you up and running in no time.</p>
        <div style="  padding: 20px 30px 40px 30px; ">
            <p style="width: 327px;   min-height: 70px;;background-color: #7c72dc;margin:auto; text-align: center;border-radius: 4px; "><a href="{{$activate_url}}" style="font-size: 20px; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding:15px 25px;  display: inline-block;line-height: 35px;"  target="_blank">Reset Password</a> </p>
        </div>
        <div style="background-color: #444444;  padding: 20px 30px ;">
             <p style="font-size: 24px; color:#ffffff; ">Unable to click on the button above?</p>
        </div>
        <div  style="background-color:#eeeeee;  padding: 20px 30px ;text-align: left;  border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
            <p style="color: #666666;">See how easy it is to get started</p>
            <p  ><a  href="{{$activate_url}}"  target="_blank" style="font-size: 20px;font-weight: 500;  color: #7c72dc;">Click on this  link or copy/paste in the address bar.</a><p>
        </div>
        <div   
        style=" background-color: #C6C2ED; padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-size: 18px; font-weight: 400; line-height: 25px;margin:25px 0px 10px 0px;min-height:100px; ">

            <h2 style="font-size: 20px; font-weight: 400; color: #111111; margin: 0;">Need more help?</h2>
            <span style="color:black;">Email us at <b style="color: #7c72dc"> {{$email}}</b>. We’re here, ready to talk </span>
        </div>

        <div         padding: 0px 30px 30px 30px; color: #666666; font-size: 14px;  line-height: 18px;text-align:left;min-height: 50px; >
            <p style="margin: 0;">You received this email because you requested a password reset. If you did not, <span target="_blank" style="color: #111111; font-weight: 700;">Please Ignore This Message.</span></p>
        </div>
   
 
  
  </div>

</div>
  <div style="min-height: 50px; background-color: #f4f4f4">

</div>';