
    body {
        margin: 0px;
        padding: 0px;
        /* background-color: rgb(156, 156, 138); */
        background-color: rgb(228, 223, 228);


        font-size: 20px;
        font-family: 'Roboto', sans-serif;
 
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%, #b6360e 10%);

         

    }


    * {
        scrollbar-width: thin;
        scrollbar-color: blue rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(207, 207, 211);


    }


    #message-body {
        height:77vh;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }


    img {
        width: 40px;
        border-radius: 50%;

    }

    #box {
        position: relative;
    }

    #col-2 {

        display: inline-block;

        background: radial-gradient(circle, rgb(213, 216, 228) 10%, rgb(240, 231, 233) 100%);
      display: inline-block;
        height: 100vh;
        width:100%;
        position: absolute;

        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #1b1223 50%); */


    }


  

    .profile {
        display: inline-block;
        font-weight: 550;
        /* background-color: rgb(101, 75, 75); */
    }

    .profile p {

        margin: 0px;
        padding-left: 5px;
    }

    header img {
        width: 45px;
        position: relative;
        top: 5px;
        margin-left: 20px
            /* margin-top:40px ; */
    }

    .user-name {
        font-size: 15px;
    }



    .user-seen {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 3px;
    }


    
    .friend-profile {
        display: block;
        width: 90%;

        margin: 10px auto;
        padding: 5px 0px;

        background-color: rgb(255, 255, 255);
        /* background-color: rgb(44, 38, 38); */
     border-radius: 3px;
     position: relative;

    }

    .profile {
        width: 70%;
        display: inline-block;
        border-bottom: 0.1px solid rgba(32, 1, 1, 0.4);

        /* border-bottom:  0.1px solid rgb(130, 122, 122) ; */


    }


    .friend-image {
        display: inline-block;
        position: relative;
        width:50px; 
        left: 17px;
        top: 6px;
        margin:0px 10px; 
        
        /* padding:5px;  */


    }


    .input_box {
        text-align: center;
        width: 80%;
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }

    .input_box::placeholder {
        color: #fff;
    }

    .input_box:focus {
        outline: none;
        border-bottom: violet;

    }

 


  

    .header {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 100%);
 height:55px; 


    }

    .header .profile {
        width: 35%;
    }

    .side-list-search-icon:hover {
        color: rgb(230, 211, 211);
        cursor: pointer;

    }

    .search-keyword {
        display: inline-block;
        width: 255px;


        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;

        background-color: transparent;
        position: relative;
        left: 35px;
        top: 12px;


    }
      

    #side-list-search-icon,
    #side-list-close-icon {
        position: absolute;
        color: rgb(214, 204, 250);
    
       
    }
    #side-list-search-icon{
        right:15px;
        top:13%;
             }
    #side-list-close-icon{
        right:15px;
        top:6%;
        display:none; 
    }
  
    #side-list-search-icon:hover,
    #side-list-close-icon:hover {
        
        color: rgb(208, 177, 177);
        cursor: pointer;


    }






    .search-keyword input {
        color: rgba(255, 255, 255   );
    }

    .col-3 {
      z-index:4; 
      height: 10px;
        width:100%; 
        position: fixed; 
        bottom:0px; 
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);
    }

 

#back{
    text-decoration: none;
    color:white;
    z-index:33px;
    position: fixed;
    right: 26px;
    top: 14px;
    border-radius: 4px;
    padding:3px 15px; 
  width:20px; 
 height: 20px; ;
   border:2px solid rgba(255, 252, 252, 0.753);

}
#back:hover{
    background-color: rgba(255, 252, 252, 0.753);
    color:rgb(15, 15, 104); 
 
}


.user-name {
    font-size: 15px;
}

.user-time {
    font-size: 10px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: rgb(100, 110, 113);
    padding-bottom: 5px;

}

.user-seen {
    font-size: 10px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 3px;
}
.send-request-but{  
 background-color: rgba(69, 45, 153, 0.534);
    color:white;
     font-size: 14px;
    border-radius: 4px;
    padding:5px; 

 height: 20px; ;
   border:2px solid rgba(255, 252, 252, 0.753);
   position: absolute;
   right:17px;
   top:12px;  

}
.send-request-but:hover{
    background-color: rgba(69, 45, 153, 0.7);
   cursor:pointer;
}

.sended-request-but{
    background-color: rgba(153, 45, 72, 0.733);
    color:white;
     font-size: 14px;
    border-radius: 4px;
    padding:5px; 

 height: 20px; ;
   border:2px solid rgba(255, 252, 252, 0.753);
   position: absolute;
   right:17px;
   top:12px;  
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader {

    position: absolute;;  
     z-index:1 ;  
     left:47%;
  /* transform:  translate( -50% ,10%);  */
border: 4px solid #a1a9c5;
border-top: 4px solid #888e91;
border-radius: 50%;
width: 30px;
height: 30px;
animation: spin 1s linear infinite;
display:none; 

  }
  


.all_img {
    width: 40px;  border-radius: 50%;
    height:40px; 
    display:inline-block; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    position: relative;; 

   left:-10px
}
@media only screen and (min-width:2050px) {
        body{
            margin:auto;
            width: 1750px;
            position: relative;
         }
     
    

     #message-body {
        height:85vh;
     
    }
}

@media screen and (max-width:600px){

    
    .friend-image {
        width:135px; 


    }
    .user-name {
        position: relative;
    left:10px;
    top:3px; 
    }
    
    .user-time {
        position: relative;
        left:10px;
        top:2px; 

    }

    
}


@media only screen and (max-width:480px){
    .header {
        height:90px;
    }
    #back{
        position: absolute;
        width: 69%;
        top:50px; 
  
        left:13%; 
        border-radius: 50px;
        
        /* margin:auto;  */
    }
    .search-keyword {
        width: 76%;
        left: 13%;

    }
}
@media only screen and (max-width:280px){

    #back{
        width: 65%;
    }

}