


    body {
        margin: 0px;
        padding: 0px;
        /* background-color: rgb(156, 156, 138); */
        /* background-color: rgb(228, 223, 228); */


        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        /* background-color: white;
        background-color: #4158D0;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        background-color: #4f7e8e;
        background-image: linear-gradient(0deg, #8EC5FC 40%, #c3ebfc 70%); */
        /* background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
 */
        background-color: #FF3CAC;
        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%, #b6360e 10%); */

         /* height:100px; */
        overflow-y:hidden; 

    }


    * {
        scrollbar-width: thin;
        scrollbar-color: blue rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(207, 207, 211);


    }


    #message-body {
        height: 72vh;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }


    .all_img {
        width: 40px;  border-radius: 50%;
        height:40px; 
        display:inline-block; 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow:hidden;
        position: relative;; 

       left:-10px
    }
   .all_img img{
      
        width:100%;
        display: block;
        margin:auto; 
     /* position:relative; 
     bottom:0%;  */
  
    }

    #box {
        position: relative;
    }

    #col-2 {

        display: inline-block;
        height: 100vh;
        overflow: hidden;
    }

    #col-1 { 
        background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%);

            width: 25%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        overflow:hidden; 
        /* margin:0px; 
        padding:0px;  */
        

    }

    #col-2 {
        /* background-color: rgb(70, 99, 103); */

        /* #29323c → #485563; */
        /* background: rgb(63,94,251); */
        background: radial-gradient(circle, rgb(213, 216, 228) 10%, rgb(240, 231, 233) 100%);





        width: 75%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;

        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #1b1223 50%); */


    }


    .left {


        /* display:block;  */
        /* background-color: blue; */
        padding: 20px;
        width: 100%;


    }

    .right {

        width: 100%;
        /* background-color: green; */
        padding: 20px;

        text-align: right;




    }


    .middle {
        display: inline-block;
        width: 100%;
        /* background-color: green; */
        padding: 15px 10px;
        text-align: center;

    }
    .message-middle{
        background-color:white;
        border-radius:5px; 
        font-size: 14px;
        padding:10px; 
        border-radius:20px; 
      
    }

    
    .message {

        display: inline-block;
        /* position: relative; */
    }

    .message-left {

        border-radius: 20px;
        border-bottom-left-radius: 0px;
        background-color: rgb(246, 246, 246);
        background-color: hsl(160, 0, 232);


        /* background-color: rgb(162, 43, 43); */
        /* background-color: white; */
        margin-left: 20px;
        padding: 10px;
        padding-bottom: 20px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        min-width: 200px;
        /* color:hsl(160, 0, 185);   */
        /* color:rgb(197,197,197); */
        /* box-shadow: 1px 1px 5px 0.1px black; */
        border: 1px solid rgb(193, 205, 223);



    }

    .message-right {

        border-radius: 20px;
        border-bottom-right-radius: 0px;
        /* background-color:rgb(34, 34, 34);  */
        /* background-color:rgb(51,51,51); */
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(240, 236, 236);
        margin-right: 0px;
        padding: 10px;
        padding-bottom: 25px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        text-align: left;
        min-width: 200px;
        min-height: 2px;




    }

  

    .profile {
        display: inline-block;
        font-weight: 550;
        /* background-color: rgb(101, 75, 75); */
    }

    .profile p {

        margin: 2px;
        padding-left: 5px;
    }

    header img {
        width: 45px;
        position: relative;
        top: 5px;
        margin-left: 20px
            /* margin-top:40px ; */
    }

    .user-name {
        font-size: 15px;
    }

    .user-time {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgb(100, 110, 113);
        padding-bottom: 5px;

    }

    .user-seen {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 3px;
    }

    .message-time-left {
        position: relative;
        bottom: -15px;
        right: 80px;
        font-size: 10px;
        color: rgb(148, 143, 188)
    }

    .message-time-right {
        position: relative;
        bottom: -20px;
        right: 56px;
        font-size: 10px;

        color: rgb(143, 162, 188)
    }

    .friend-profile {
        display: inline-block;
        width: 100%;

        margin: 0px;
        /* margin-left:4px;  */
        /* padding-left:8px;  */
        padding: 5px 0px;
        /* padding-left:5px; */
        /* background-color: rgb(81, 43, 43); */
        /* margin-left:5px;  */
        /* background-color: rgb(255, 254, 253); */
        background-color: rgb(255, 255, 255);
        /* background-color: rgb(44, 38, 38); */


    }
 #col-1 .selected{
    background-image: linear-gradient(225deg, #f89acf 10%, #674386 50%);
    /* background-color: #FF3CAC; */
 }

 #col-1   .selected * {
    color: white;
}

#first-col-friend-list{
   height: 72vh;
    overflow-y:auto;
}
#first-col-friend-list .friend-profile:hover {
    background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #f89acf 10%, #784BA0 50%);

        cursor: pointer;
    }

    #first-col-friend-list  .friend-profile:hover * {
        color: white;
    }

    .profile {
        width: 70%;
        display: inline-block;
      

        /* border-bottom:  0.1px solid rgb(130, 122, 122) ; */


    }
#col-1 .profile{
    border-bottom: 0.1px solid rgba(32, 1, 1, 0.4);;
}



    .friend-image {
        display: inline-block;
        position: relative;
        left: 30px;
        top: 6px;
        /* width:40px;   
        height:40px; 
    
        border:1px solid rgb(83, 26, 26); 
   */
    }

    .message-count {
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(255, 255, 255);
        font-size: 10px;

        border-radius: 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
        ;
        position: relative;
        left: -26px;
        bottom: 27px;
        text-align: center;
        padding: 3px;

    }

    .count-num {
        position: relative;
         font-size: 10px;

    }

    .search-friend {

        /* background-color: rgb(255, 255, 255); */
        border: 1px solid black;
        border-radius: 50px;
        ;
        position: relative;
        margin: 3px;
        background-color: rgb(253, 253, 253);
    }

    .input_box {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }
    #first-col-input-box  {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }

    .input_box::placeholder {
        color: #fff;
    }

    .input_box:focus {
        outline: none;
        border-bottom: violet;

    }

    #first-col-search-icon{
      position:absolute;
      right:10px; 
      top:10%; 
      cursor:pointer;
      color: rgb(147, 136, 186);
    
    }
    #first-col-close-icon{
      position:absolute;
      right:10px; 
      top:8%;
cursor:pointer;
      color: rgb(147, 136, 186);
      display:none;
    }


    #first-col-search-icon:hover,#first-col-close-icon:hover {

        color: rgb(103, 100, 138);


    }

    .side-list {
        /* overflow: auto; */
        overflow-x: hidden;


    }

    .header {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 100%);

    }

    .header .profile {
        width: 35%;
    }

    .side-list-search-icon:hover {
        color: rgb(230, 211, 211);
        cursor: pointer;

    }

    .search-keyword {
        display: inline-block;
        width: 45%;


        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;

        background-color: transparent;
        position: relative;
        bottom: 11px;
   
        right: -45px;


    }
      
      *
      
     #side-list-search-count, 
    #side-list-search-icon,
    #side-list-close-icon,
    #side-list-up-icon,
    #side-list-down-icon {
        position: absolute;
        color: rgb(214, 204, 250);
    
       
    }
    #side-list-search-icon{
        right:15px;
        top:13%;
             }
    #side-list-close-icon{
        right:15px;
        top:6%;
        display:none; 
    }
    #side-list-down-icon{
        right: 44px;
    top: 20%;
        display:none; 
    }
    #side-list-up-icon{
        right: 70px;
    top: 17%;
        display:none; 
    }
    #side-list-search-count{
       
    right: 94px;
    top: 20%;
    font-size:15px;
    display:none; 
        /* display:none;  */
    }

    #side-list-search-icon:hover,
    #side-list-close-icon:hover,
    #side-list-up-icon:hover,
    #side-list-down-icon:hover {
        
        color: rgb(208, 177, 177);
        cursor: pointer;


    }

    #side-list-search-count {
        color: rgb(214, 204, 250);
    }




    .search-keyword input {
        color: rgba(255, 255, 255, 0.837);
    }

    .col-3 {
        z-index: 2;
        height: 50px;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);

    }

    form {
        background-color: #fff;
        text-align: center;
        padding: 5px 2px;
    }

    form input {
        display: inline-block;
        width: 90%;

        /* background-color: blue; */
        padding: 5px;
        /* margin:5px; */

    }

    form button {
        padding: 5px;
    }

    .search-item-bg {
        background-color: yellowgreen;
        color: black;
    }
    .not-visible{
        visibility: hidden;
    }

#menu{
    width: 24px;
    position: absolute;
    right: 10px;
    top: 8px; 
    padding:0px 5px; 
    cursor:pointer; 
 }
#notification{
    width: 20px;
    position: absolute;
    right: 50px;
    top: 18px;

}
.not-hover:hover{
 
 cursor:default !important; 
}

#side-list-menu-box{
   
    position:absolute; 
    width:500px; 
    top:0px; 
    right:0px; 
}
#menu-box{
   z-index:1; 
    width:250px;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.781);
    color:white;
    font-size:15px; 
    right:16px; 

    top:17px; 
    padding:20px 1px; 
    display: none;
}
.menu-box-child{
    padding:2px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    padding-left:30px; 

}
.menu-box-child:hover{
    background-color:rgb(216, 205, 205); 
    color:black; 
    cursor:pointer; 
}
#menu_close{
       position: absolute;
    background-color: slateblue;
    padding: 0px 4px;
    right: 1px;
    top: 1px;
}
#menu_close:hover{
   cursor:pointer;
}

a{
    text-decoration: none;
    color:white;
}
#noti_box{
   overflow:auto ; 
   height: 84vh;


}


#noti_box .friend-profile {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 5px 0px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(44, 38, 38); */
    border-radius: 3px;
    position: relative;
}

#noti_box .noti-profile{

    position: absolute;
    top: 15px;
    left: 60px;
}
.send-request-but{  
 background-color: rgba(69, 45, 153, 0.534);
    color:white;
     font-size: 14px;
    border-radius: 4px;
    padding:5px; 

 height: 20px; ;
   border:2px solid rgba(255, 252, 252, 0.753);
   position: absolute;
   right:17px;
   top:12px;  

}

#req_box{
  
    overflow:auto ; 
    height: 84vh;

 
 
 }
 
 
 #req_box .friend-profile {
     display: block;
     width: 90%;
     margin: 10px auto;
     padding: 5px 0px;
     background-color: rgb(255, 255, 255);
     /* background-color: rgb(44, 38, 38); */
     border-radius: 3px;
     position: relative;
     min-height: 70px;
 }




#req_box .noti-profile{

    position: absolute;
    top: 15px;
    left: 60px;
}



.send-request-but{
    background-color: rgba(69, 45, 153, 0.534);
       color:white;
        font-size: 14px;
       border-radius: 4px;
       padding:5px; 
   
    height: 20px; ;
      border:2px solid rgba(255, 252, 252, 0.753);
      position: absolute;
      right:17px;
      top:12px;  
   
   }
   .send-request-but:hover{
       background-color: rgba(69, 45, 153, 0.7);
      cursor:pointer;
   }
   
   .sended-request-but{
       background-color: rgba(153, 45, 72, 0.733);
       color:white;
        font-size: 14px;
       border-radius: 4px;
       padding:5px; 
   
    height: 20px; ;
      border:2px solid rgba(255, 252, 252, 0.753);
      position: absolute;
      right:17px;
      top:12px;  
   }


   .noti-mess{
       /* border:1px solid black;  */
       border-radius: 5px; ;
       width: 80%; 
     margin: 10px auto; 
     padding:11px;
    background-color:rgb(233 227 232); 
       font-size: 14px;
     
       font-family: 'Roboto', sans-serif;
       color: rgba(0, 0, 0, 0.7);
   }
   
   .head_opt{
    position:relative; 
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);
    color:white; 
 /* background-color:white;  */
    display:none; 
}

.header_mess{
position: relative;
left: 10px;
top: -7px;
padding:2px; 
border-bottom:1px solid rgb(255, 255, 255);  
}

.close_opt{

    position: absolute;
    background-color: rgb(123, 107, 224);
    padding: 0px 4px;
    right: 10px;
    top: 8px;
      color:white; 
      padding:2px 8px; 
 border-radius: 5px; ;
}
.close_opt:hover{
    background-color: rgba(170, 161, 228, 0.993); 
    cursor:pointer; 
   
}

#header_logo{
    display:block; 
}
#myform{
    display:none; 
    position:absolute;
    bottom:0px; 
    width:100%; 
    /* overflow-x:hidden;   */
    padding: 10px 0px;


}
#message_input{
    width:92%; 

}
#select_file{
    /* border:1px solid blue;  */
    display: inline-block;
    background-image: url('../paperclip.svg');
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}
#send_file{
    /* border:1px solid blue;  */
    background-image: url('../send.svg');
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border:none; 
    outline: none;
    background-color:transparent; 
    position: relative;
    top: 10px;
    left:4px; 
}
#sett_box{
    
    width:80%; 
  margin:auto;
  display:none;  
}
#sett_box .friend-profile{
    padding:15px 10px; 
    margin:10px; 
    border-radius:3px; 
}
#sett_box .sett-profile span{
    margin:5px; 
    margin-left:10px;
    font-size:15px; 
    padding:5px; 
    /* border:2px solid black;   */
}
.prof_mess{
    width: 85%;
    padding: 5px;
  
    margin-top:10px;  
    background-color: transparent;
    border:none;
    box-shadow:-1px 0px 4px 1px rgba(106, 106, 112, 0.377); ;
  


}

.prof_mess:focus {
    outline: none;
    /* outline-bottom:1px solid rgb(0, 0, 0) ; */
    border-bottom:1px solid violet;
    box-shadow:-1px 0px 4px 1px rgba(2, 0, 128, 0.377); 
    border-radius: 1px; ;
    /* border-bottom: violet; */

}

#update_but,#upload_but,#browse_file{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 10px;
    width: 108px;
    width: 116px;
    outline: none;
    border-radius: 5px;
    margin: 9px;
    font-size: 13px;

}
#upload_but{
    width: 152px;
}
#update_but:hover,#upload_but:hover,#browse_file{
 cursor:pointer;
 background-color: rgb(130, 92, 167);
}

.border_radius{
    border-radius:50%; 

}

#menu_box_opt{
    overflow-y:auto;
    height: 83vh;
    
    /* display:none;  */
}
/* #prof_img{
    position: relative;
    left:28px;
    width:110px ;  
} */


#search_keyword_alias{
    display:none; 
}

#close_search{
    display:none; 
}


#back,#forward{
    text-decoration: none;
    color:white;
    position: absolute;
    left: 2px;
    top: 14px;
    border-radius: 4px;
    padding:3px 15px; 
  width:20px; 
 height: 20px; ;
 cursor:pointer;
 display:none; 
}


#forward{

    top: 20px;
    left:auto; 
    right:10px;  ;
   border:2px solid rgba(255, 252, 252, 0.753);

}
#forward:hover{
    background-color: rgba(255, 252, 252, 0.753);
    color:rgb(15, 15, 104); 
    cursor:pointer
 
}

.loader-parent{
    background-color: white;
    margin:auto; 
    width:20px;
    height:20px; 
    border:1px solid black;
 
    
}

.loader {
    position: absolute;;  
     z-index:1 ;  
     left:47%;
  /* transform:  translate( -50% ,10%);  */
border: 4px solid #a1a9c5;
border-top: 4px solid #888e91;
border-radius: 50%;
width: 30px;
height: 30px;
animation: spin 1s linear infinite;
display:none; 

  }
  



  .message-file {
    /* border: 1px solid black; */
    position: relative;

  }

  .download-img {
    width: 30px;
    height: 30px;

    display: inline-block;
    background-image: url("../file_download.svg");
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    cursor:pointer; 
    color:rgba(160, 81, 206, 0.356); 
    position:relative; 
    margin-top: 8px;
    left:2px;
    top:4px; 
    padding:2px;  
  
  }
  .share-img{

        width: 20px;
        height: 20px;
    
        display: inline-block; 
        background-image: url("../share-fill.svg");
        background-position: center;
        /* border: 1px solid black; */
        background-repeat: no-repeat;
        cursor:pointer; 
        color:rgba(160, 81, 206, 0.356); 
        position:relative; 
        left:12px;
        /* top:4px;  */
        padding:2px;  

  }

 .download-img-display{
   /* border:2px dotted green ;  */
   /* background-image: url("../chat_image.png"); */
   background-repeat: no-repeat;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   /* min-height:200px; */
   margin:auto;
   /* min-width:200px;  */
    /* border-radius: 50%;; */
   background-position: center;
   background-size: 100%;
   
   
 }
  .download-img-mess {
    border-left: 3px solid rgba(34, 0, 128, 0.418);

background-color: white;
/* rgba(0, 0, 255, 0.096) */
    display: block;
  width:95%;

  padding:7px;  
  margin:auto; 
  padding:5px; 
  word-spacing: 0px;
  text-align: justify;
  }
  .download-img-mess-send{
    background-color: #ded9d9d6;
    border-radius: 4px; ;
    padding:5px ;
    margin:5px 0px ;  
  }

  .load_box {
    /* border:1px solid grey;  */
    border-radius: 5px;

    border: 2px solid #5f9ea03b;
    position: relative;
    margin: 3px;
    /* overflow: hidden; */
  }

  .loading-body {
    width: 10%;
    position: relative;
    z-index: 10;
    background-color: #5f9ea03b;
    height: 25px;
    transition:width 0.2s linear;
  }

  .loading {
    height: 2px;
    width: 3%;
    background-color: #4158d0c2;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 18px;
    left: 2%;
    transition:width 0.2s linear;
    border-radius: 4px;
  }

  .percent,
  .byte {
    display: inline-block;
    position: absolute;

    font-size: 10px;
    /* font-weight: 500; */
    color: rgb(0, 0, 0);
  }
  .percent{
    top:5px; 
    left:4px; 
  }
  .byte {
    right: 7px;
    top:5px; 
  }
 .file-left{
   background-color: white !important;
   border:none; 

   box-shadow:0px 0px 13px 0px #00000070;
 }

 .file-right{
    background-color: white !important;
    border:none; 
    /* margin-right: 60px; */
    color:black; 
    box-shadow:0px 0px 13px 0px #00000070;
  }
  .file-name{
    border-left: 2px solid rgba(34, 0, 128, 0.418);

    border-right: 2px solid rgba(34, 0, 128, 0.418);
    background-color: rgba(216, 176, 176, 0.284);
    /* rgba(0, 0, 255, 0.096) */
        display: block;
      width:94%;
      padding:7px;  
      margin:auto; 
      padding:5px; 
      word-spacing: 0px;
      text-align: justify;
      margin-top: 5px;
  }


#transfer_file{
    display: none;
}
#display_file{
    overflow: auto;
    height: 50vh;
 width:  98%; 
    margin-top: 40px;
}
  .drop-box{
    border:1px solid #49524947; 
    min-height:60vh;    
     display: none;
     position: relative;

    /* background-color: rgb(216, 175, 207); */
  }
 
  .drop-area{
      border:2px dashed rgb(216, 192, 204);
      margin:20px; 
      margin-top:44px; 
      height:50vh; 
 
     color: rgba(255, 235, 205, 0.527);
     padding:10px ; 

     
     }
     .drop-area:hover{
 border-color:  rgba(252, 105, 178, 0.651);;
 
     }
     .drop-img{
       transition : transform 200ms ease-in-out ;
 
       background-image: url('../file-earmark-plus.svg');
     background-repeat: no-repeat;
     background-position: center;
     margin: auto;
     width: 50px;
     height: 50px;
     position: relative;
     top: 7%;
 
   }
   .drag-drop-browser{
    text-align: center;
    margin: auto;
    width: 92%;
    margin-top: 21px;
    padding: 10px 0px;
    color: rgba(20, 1, 6, 0.7);
    border: 1px solid #00000052; 

   color: rgba(20, 1, 6, 0.7)
   }
   .hr-line {
    width: 18%;
    display: inline-block;

    position: relative;
    top: 4px;

}



.drop-file{
    display: block;
    width: 90%;
    margin: 10px auto;
    padding-left:20px; 
    padding-bottom:5px; 
    /* border:1px solid blue;  */
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(44, 38, 38); */
    border-radius: 3px;
    position: relative;
    


}
.drop-file-name{
    font-size: 15px;
    color: rgb(28, 32, 32);
    /* border:1px solid blue;  */
    display:inline-block; 
    padding-bottom: 3px;
    width: 55%;  
    border-bottom:1px solid rgba(40, 41, 46, 0.384); 

}
.drop-file-img{
    width:20px; 
    position: relative;
    top:7px; 
}
#header_name .profile {
    position: relative;
    left: 40px;
}
#header_name .all_img{

    left:auto; 

}

/* 

#header_name .all_img{
    border:1px solid blue; 
    left:auto;  
}
#header_name img{
    border:1px solid blue; 
    left:auto; 
} */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} */


/* @media only screen and (min-width: 950px){
    #col-1{
        display: inline-block;
    }
    #col-2{
        display: inline-block;
    }
   
} */


#req_box .friend-profile .profile,#noti_box .friend-profile .profile{
    margin-left:18px; 
}


 
    
@media only screen and (min-width:2050px) {

    body{
        margin:auto;
        width: 1750px;
        position: relative;
     }
 
}


@media only screen and (max-width:950px) {
  
  #forward,#back{
      display: inline-block;
  }
  
    #self_prof{
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 110%);
     position: relative;

    }
    #self_prof p{
        color:whitesmoke;

    }
    #self_prof .user-time{
        font-size: 10px;
        color: rgba(255, 255, 255, 0.8);
    }
 
    #self_prof .profile{
     border-bottom:1px solid rgb(255, 255, 255); 
     width:60%; 

    }

    #req_box ,#noti_box{
        height: 82vh;
    }

    #first-col-friend-list{
 
        background-color: white;
     
    }

    /* #header_name img{
        left:23px; 
    } */
    /* #header_name .profile {
        position: relative;
        left: 23px;

    } */
    

    #menu_close {
        padding: 6px 9px;
    }    
  #col-2{
    background-color:  #ff3cac;  
width:100%;
    display:inline-block;
   position:relative ; 
       display:none; 

  }
  #col-1{

 
   background-color:  #ff3cac;  
  
     width:100%;
   display:block;
  position:unset ; 
   margin:2px auto;
   /* border-radius:2px;   */
       /* display:none; */
  }
  #first-col-input-box {
    width: 89%;
}

#col-1 .search-friend {
  width:96%; 
  margin:auto;
} 

    #search_keyword_alias{
        display:block; 
      
    }
   #close_search{
    top: 13px;
    right: 21px;
   }

    #header_name .search-keyword{
      
    width: 77%;
    display: none;
    top: 12px;

    left: 19px;
    
        
     
    }
    #header_name .user-seen{
        margin-bottom:3px; 
    }
    #header_name p{
        width:150%; 
    }
    .header {
       min-height:55px; 


    }
    #header_name .input_box {
        width: 72%;
    }

    #header_name .friend-image{
        left:42px; 
    }
}


@media only screen and (max-width:750px) {

    #header_name .input_box {
        width: 64%;
    }

    #message_input{
        width:87%; 
    
    }

}


@media only screen and (max-width:600px) {

    #header_name .input_box {
        width: 54%;
    }
    #message_input{
        width:84%; 
    
    }

}


@media only screen and (max-width:460px) {

    #header_name .input_box {
        width: 44%;
    }
    #message_input{
        width:78%; 
    
    }

}

.side-list-video-icon {
    border: 1px solid black ;
    display: inline-block; 
    top: -6px;
    right: -50px;
    position: relative;
} 

.incoming-call-bx{ 
    max-height:1000px; 
    min-height: 200px; 
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 100%);
    position:fixed; 
    top: 0px ; 
    left: 0px; 
    /* height: 100px;  */
    border: 1x solid black; 
    z-index:200; 
    width: 100vw;
    height: 50vh;
    animation-name: ring;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function:ease-out ; 
  display:flex; 
  justify-content: center; 
  padding-top:20px; 
  /* align-items: center; */
}

@keyframes ring {
    0% { 
        height: 70vh;
        /* top:0vh */
    }
   35% {
        height: 80vh;
        /* top:10vh */
    }
    100% {
        height: 70vh;
        /* top:10vh */
    }
  }


  .call-but{ 
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid rgba(204, 195, 236, 0.51);
    border-radius: 50px;
    min-width: 120px;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    margin:10px; 
    
}

.call-but:hover{ 
    background-color:  rgba(193, 189, 205, 0.592);
}

.decline-but:hover { 
    background-color: #ff3939;
        border: 1px solid rgb(204 195 236 / 0%);
}
.prof-img{
width: 80px;
border-radius: 50%;
height: 80px;
display: inline-block;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
margin:10px; 
background-image: url('/img/default_img.png');
/* border: 1px solid rgba(204, 195, 236, 0.51); */

} 
.prof-img-par-bx{
border: 2px solid rgba(204, 195, 236, 0.51);
border-radius: 60%;
margin: 0px 10px 10px 10px;
padding: 1px;
display: flex;
}
.prof-tl{ 
display: inline-block;
color: white;
/* border: 1px solid rgba(204, 195, 236, 0.51); */
border-radius: 50px;
min-width: 120px;
font-weight: 500;
font-size: 20px;


}

  .call-opt-bx{ 
    /* margin:auto;  */
    max-width: 500px; 
    border:1px solid white; 
    text-align:center; 
    /* padding:10px;  */
    display:flex; 
    flex-direction: column;
    justify-content: center;
        align-items: center;
        width: 400px;
        height: 320px;
         border: 1px solid #c3ebfc6b;
}
