
    body {
        margin: 0px;
        padding: 0px;
        /* background-color: rgb(156, 156, 138); */
        /* background-color: rgb(228, 223, 228); */


        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        /* background-color: white;
        background-color: #4158D0;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        background-color: #4f7e8e;
        background-image: linear-gradient(0deg, #8EC5FC 40%, #c3ebfc 70%); */
        /* background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
 */
        background-color: #FF3CAC;
        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%, #b6360e 10%); */

         

    }


    * {
        scrollbar-width: thin;
        scrollbar-color: blue rgb(255, 255, 255);
    }

    *::-webkit-scrollbar {
        width: 12px;
    }

    *::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(207, 207, 211);


    }


    #message-body {
        height: 76vh;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }


    .all_img {
        width: 40px;  border-radius: 50%;
        height:40px; 
        display:inline-block; 

        overflow:hidden;
        position: relative;; 

       left:-10px; 
    }
   .all_img img{
      
        width:100%;
        display: block;
        margin:auto; 
     /* position:relative; 
     bottom:0%;  */
  
    }

    #box {
        position: relative;
    }

    #col-2 {

        display: inline-block;
        height: 100vh;
        overflow: hidden;
    }

    #col-1 { background-image: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%);
            width: 25%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        overflow:auto; 

    }

    #col-2 {
        /* background-color: rgb(70, 99, 103); */

        /* #29323c → #485563; */
        /* background: rgb(63,94,251); */
        background: radial-gradient(circle, rgb(213, 216, 228) 10%, rgb(240, 231, 233) 100%);





        width: 75%;
        display: inline-block;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 0px;

        /* background-image: linear-gradient(225deg, #FF3CAC 10%, #1b1223 50%); */


    }


    .left {


        /* display:block;  */
        /* background-color: blue; */
        padding: 20px;
        width: 100%;


    }

    .right {

        width: 100%;
        /* background-color: green; */
        padding: 20px;

        text-align: right;




    }


    .middle {
        display: inline-block;
        width: 100%;
        /* background-color: green; */
        padding: 20px;
        text-align: center;

    }
    .message-middle{
        background-color:white;
        border-radius:5px; 
    }

    .message {

        display: inline-block;
        /* position: relative; */
    }

    .message-left {

        border-radius: 20px;
        border-bottom-left-radius: 0px;
        background-color: rgb(246, 246, 246);
        background-color: hsl(160, 0, 232);


        /* background-color: rgb(162, 43, 43); */
        /* background-color: white; */
        margin-left: 20px;
        padding: 10px;
        padding-bottom: 20px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        min-width: 100px;
        /* color:hsl(160, 0, 185);   */
        /* color:rgb(197,197,197); */
        /* box-shadow: 1px 1px 5px 0.1px black; */
        border: 1px solid rgb(193, 205, 223);




    }

    .message-right {

        border-radius: 20px;
        border-bottom-right-radius: 0px;
        /* background-color:rgb(34, 34, 34);  */
        /* background-color:rgb(51,51,51); */
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(240, 236, 236);
        margin-right: 0px;
        padding: 10px;
        padding-bottom: 25px;
        display: inline-block;
        max-width: 50%;
        font-size: 15px;
        text-align: left;
        min-width: 100px;
        min-height: 2px;




    }

    .message-middle {

        border-radius: 20px;
        margin: auto;
        padding: 15px;

    }

    .profile {
        display: inline-block;
        font-weight: 550;
        /* background-color: rgb(101, 75, 75); */
    }

    .profile p {

        margin: 0px;
        padding-left: 5px;
    }

    header img {
        width: 45px;
        position: relative;
        top: 5px;
        margin-left: 20px
            /* margin-top:40px ; */
    }

    .user-name {
        font-size: 15px;
    }

    .user-time {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgb(100, 110, 113);
        padding-bottom: 5px;

    }

    .user-seen {
        font-size: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        color: rgba(255, 255, 255, 0.8);
        padding-bottom: 3px;
    }

    .message-time-left {
        position: relative;
        bottom: -15px;
        right: 80px;
        font-size: 10px;
        color: rgb(148, 143, 188)
    }

    .message-time-right {
        position: relative;
        bottom: -20px;
        right: 56px;
        font-size: 10px;

        color: rgb(143, 162, 188)
    }

    .friend-profile {
        display: inline-block;
        width: 100%;

        margin: 0px;
        /* margin-left:4px;  */
        /* padding-left:8px;  */
        padding: 5px 0px;
        /* padding-left:5px; */
        /* background-color: rgb(81, 43, 43); */
        /* margin-left:5px;  */
        /* background-color: rgb(255, 254, 253); */
        background-color: rgb(255, 255, 255);
        /* background-color: rgb(44, 38, 38); */


    }
 #col-1 .selected{
    background-image: linear-gradient(225deg, #f89acf 10%, #674386 50%);
    /* background-color: #FF3CAC; */
 }

 #col-1   .selected * {
    color: white;
}
#first-col-friend-list .friend-profile:hover {
    background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #f89acf 10%, #784BA0 50%);

        cursor: pointer;
    }

    #first-col-friend-list  .friend-profile:hover * {
        color: white;
    }

    .profile {
        width: 70%;
        display: inline-block;
      

        /* border-bottom:  0.1px solid rgb(130, 122, 122) ; */


    }
#col-1 .profile{
    border-bottom: 0.1px solid rgba(32, 1, 1, 0.4);;
}



    .friend-image {
        display: inline-block;
        position: relative;
        left: 30px;
        top: 6px;
        /* width:40px;   
        height:40px; 
    
        border:1px solid rgb(83, 26, 26); 
   */
    }

    .message-count {
        background-color: rgb(44, 43, 43);
        background-color: hsa(160, 0, 48);
        color: rgb(255, 255, 255);
        font-size: 10px;

        border-radius: 50%;
        display: inline-block;
        width: 10px;
        height: 10px;
        ;
        position: relative;
        left: -26px;
        bottom: 27px;
        padding: 2px;

    }

    .count-num {
        position: relative;
        left: 3px;

    }

    .search-friend {

        /* background-color: rgb(255, 255, 255); */
        border: 1px solid black;
        border-radius: 50px;
        ;
        position: relative;
        margin: 3px;
        background-color: rgb(253, 253, 253);
    }

    .input_box {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }
    #first-col-input-box  {
        text-align: center;
        /* width: 85%; */
        padding: 5px;

        background-color: transparent;
        border: none;
        ;


    }

    .input_box::placeholder {
        color: #fff;
    }

    .input_box:focus {
        outline: none;
        border-bottom: violet;

    }

    #first-col-search-icon{
      position:absolute;
      right:10px; 
      top:10%; 
      cursor:pointer;
      color: rgb(147, 136, 186);
    
    }
    #first-col-close-icon{
      position:absolute;
      right:10px; 
      top:8%;
cursor:pointer;
      color: rgb(147, 136, 186);
      display:none;
    }


    #first-col-search-icon:hover,#first-col-close-icon:hover {

        color: rgb(103, 100, 138);


    }

    .side-list {
        overflow: auto;


    }

    .header {
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 100%);

    }

    .header .profile {
        width: 35%;
    }

    .side-list-search-icon:hover {
        color: rgb(230, 211, 211);
        cursor: pointer;

    }

    .search-keyword {
        display: inline-block;
        width: 45%;


        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;

        background-color: transparent;
        position: relative;
        bottom: 11px;
        /* right: -70px; */


    }
      
      *
      
     #side-list-search-count, 
    #side-list-search-icon,
    #side-list-close-icon,
    #side-list-up-icon,
    #side-list-down-icon {
        position: absolute;
        color: rgb(214, 204, 250);
    
       
    }
    #side-list-search-icon{
        right:15px;
        top:13%;
             }
    #side-list-close-icon{
        right:15px;
        top:6%;
        display:none; 
    }
    #side-list-down-icon{
        right: 44px;
    top: 20%;
        display:none; 
    }
    #side-list-up-icon{
        right: 70px;
    top: 17%;
        display:none; 
    }
    #side-list-search-count{
       
    right: 94px;
    top: 20%;
    font-size:15px;
    display:none; 
        /* display:none;  */
    }

    #side-list-search-icon:hover,
    #side-list-close-icon:hover,
    #side-list-up-icon:hover,
    #side-list-down-icon:hover {
        
        color: rgb(208, 177, 177);
        cursor: pointer;


    }

    #side-list-search-count {
        color: rgb(214, 204, 250);
    }




    .search-keyword input {
        color: rgba(255, 255, 255, 0.837);
    }

    .col-3 {
        z-index: 2;
        height: 50px;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);

    }

    form {
        background-color: #fff;
        text-align: center;
        padding: 5px 2px;
    }

    form input {
        display: inline-block;
        width: 90%;

        /* background-color: blue; */
        padding: 5px;
        /* margin:5px; */

    }

    form button {
        padding: 5px;
    }

    .search-item-bg {
        background-color: yellowgreen;
        color: black;
    }
    .not-visible{
        visibility: hidden;
    }

#menu{
    width: 24px;
    position: absolute;
    right: 10px;
    top: 8px; 
    padding:0px 5px; 
    cursor:pointer; 
 }
#notification{
    width: 20px;
    position: absolute;
    right: 50px;
    top: 18px;

}
.not-hover:hover{
 
 cursor:default !important; 
}

#side-list-menu-box{
   
    position:absolute; 
    width:500px; 
    top:0px; 
    right:0px; 
}
#menu-box{
   z-index:1; 
    width:250px;
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.781);
    color:white;
    font-size:15px; 
    right:16px; 

    top:17px; 
    padding:20px 1px; 
    display: none;
}
.menu-box-child{
    padding:2px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    padding-left:30px; 

}
.menu-box-child:hover{
    background-color:rgb(216, 205, 205); 
    color:black; 
    cursor:pointer; 
}
#menu_close{
       position: absolute;
    background-color: slateblue;
    padding: 0px 4px;
    right: 1px;
    top: 1px;
}
#menu_close:hover{
   cursor:pointer;
}

a{
    text-decoration: none;
    color:white;
}
#noti_box{
   overflow:auto ; 
   height: 84vh;


}


#noti_box .friend-profile {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 5px 0px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(44, 38, 38); */
    border-radius: 3px;
    position: relative;
}

#noti_box .noti-profile{

    position: absolute;
    top: 15px;
    left: 60px;
}
.send-request-but{  
 background-color: rgba(69, 45, 153, 0.534);
    color:white;
     font-size: 14px;
    border-radius: 4px;
    padding:5px; 

 height: 20px; ;
   border:2px solid rgba(255, 252, 252, 0.753);
   position: absolute;
   right:17px;
   top:12px;  

}

#req_box{
  
    overflow:auto ; 
    height: 84vh;

 
 
 }
 
 
 #req_box .friend-profile {
     display: block;
     width: 90%;
     margin: 10px auto;
     padding: 5px 0px;
     background-color: rgb(255, 255, 255);
     /* background-color: rgb(44, 38, 38); */
     border-radius: 3px;
     position: relative;
     min-height: 70px;
 }




#req_box .noti-profile{

    position: absolute;
    top: 15px;
    left: 60px;
}



.send-request-but{
    background-color: rgba(69, 45, 153, 0.534);
       color:white;
        font-size: 14px;
       border-radius: 4px;
       padding:5px; 
   
    height: 20px; ;
      border:2px solid rgba(255, 252, 252, 0.753);
      position: absolute;
      right:17px;
      top:12px;  
   
   }
   .send-request-but:hover{
       background-color: rgba(69, 45, 153, 0.7);
      cursor:pointer;
   }
   
   .sended-request-but{
       background-color: rgba(153, 45, 72, 0.733);
       color:white;
        font-size: 14px;
       border-radius: 4px;
       padding:5px; 
   
    height: 20px; ;
      border:2px solid rgba(255, 252, 252, 0.753);
      position: absolute;
      right:17px;
      top:12px;  
   }


   .noti-mess{
       /* border:1px solid black;  */
       border-radius: 5px; ;
       width: 80%; 
     margin: 10px auto; 
     padding:11px;
    background-color:rgb(233 227 232); 
       font-size: 14px;
     
       font-family: 'Roboto', sans-serif;
       color: rgba(0, 0, 0, 0.7);
   }
   
   .head_opt{
    position:relative; 
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(227, 47, 84, 0.7049194677871149) 100%);
    color:white; 
 /* background-color:white;  */
    display:none; 
}

.header_mess{
position: relative;
left: 10px;
top: -7px;
padding:2px; 
border-bottom:1px solid rgb(255, 255, 255);  
}

.close_opt{

    position: absolute;
    background-color: rgb(123, 107, 224);
    padding: 0px 4px;
    right: 10px;
    top: 8px;
      color:white; 
      padding:2px 8px; 
 border-radius: 5px; ;
}
.close_opt:hover{
    background-color: rgba(170, 161, 228, 0.993); 
    cursor:pointer; 
   
}
#header_logo{
    display:block; 
}
#myform{
    display:none; 
    position:absolute;
    bottom:0px; 
    width:100%; 
    /* overflow-x:hidden;   */
    padding: 10px 0px;

}
#sett_box{
    
    width:80%; 
  margin:auto;
  display:none;  
}
#sett_box .friend-profile{
    padding:15px 10px; 
    margin:10px; 
    border-radius:3px; 
}
#sett_box .sett-profile span{
    margin:5px; 
    margin-left:10px;
    font-size:15px; 
    padding:5px; 
    /* border:2px solid black;   */
}
.prof_mess{
    width: 85%;
    padding: 5px;
  
    margin-top:10px;  
    background-color: transparent;
    border:none;
    box-shadow:-1px 0px 4px 1px rgba(106, 106, 112, 0.377); ;
  


}

.prof_mess:focus {
    outline: none;
    /* outline-bottom:1px solid rgb(0, 0, 0) ; */
    border-bottom:1px solid violet;
    box-shadow:-1px 0px 4px 1px rgba(2, 0, 128, 0.377); 
    border-radius: 1px; ;
    /* border-bottom: violet; */

}

#update_but,#upload_but{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 10px;
    width: 108px;
    width: 116px;
    outline: none;
    border-radius: 5px;
    margin: 9px;
    font-size: 13px;

}
#upload_but{
    width: 152px;
}
#update_but:hover,#upload_but:hover{
 cursor:pointer;
 background-color: rgb(130, 92, 167);
}

.border_radius{
    border-radius:50%; 
}

#menu_box_opt{
    overflow-y:auto;
    height: 83vh;
    
    /* display:none;  */
}
/* #prof_img{
    position: relative;
    left:28px;
    width:110px ;  
} */


#search_keyword_alias{
    display:none; 
}

#close_search{
    display:none; 
}


#back,#forward{
    text-decoration: none;
    color:white;
    position: fixed;
    left: 2px;
    top: 14px;
    border-radius: 4px;
    padding:3px 15px; 
  width:20px; 
 height: 20px; ;
 cursor:pointer;
 display:none; 
}


#forward{

    top: 20px;
    left:auto; 
    right:10px;  ;
   border:2px solid rgba(255, 252, 252, 0.753);

}
#forward:hover{
    background-color: rgba(255, 252, 252, 0.753);
    color:rgb(15, 15, 104); 
    cursor:pointer
 
}


/* .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} */


/* @media only screen and (min-width: 950px){
    #col-1{
        display: inline-block;
    }
    #col-2{
        display: inline-block;
    }
   
} */

@media only screen and (max-width:950px) {
  
  #forward,#back{
      display: inline-block;
  }
  
    #self_prof{
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(233, 49, 86, 0.705) 110%);
   

    }
    #self_prof p{
        color:whitesmoke;

    }
    #self_prof .user-time{
        font-size: 10px;
        color: rgba(255, 255, 255, 0.8);
    }
 
    #self_prof .profile{
     border-bottom:1px solid rgb(255, 255, 255); 
     width:60%; 

    }

    #req_box ,#noti_box{
        height: 82vh;
    }

    #first-col-friend-list{
        min-height: 72vh;
        background-color: white;
    }

    #header_name img{
        left:23px; 
    }
    #header_name .profile {
        position: relative;
        left: 23px;
    }
    #menu_close {
        padding: 6px 9px;
    }    
  #col-2{
    background-color:  #ff3cac;  
width:100%;
    display:block;
   position:relative ; 
       display:none; 

  }
  #col-1{

 
   background-color:  #ff3cac;  
   height:auto; 
     width:100%;
   display:block;
  position:unset ; 
   margin:2px auto;
   /* border-radius:2px;   */
       /* display:none; */
  }
  #first-col-input-box {
    width: 89%;
}

#col-1 .search-friend {
  width:96%; 
  margin:auto;
} 

    #search_keyword_alias{
        display:block; 
      
    }
   #close_search{
    top: 13px;
    right: 21px;
   }

    #header_name .search-keyword{
      
    width: 77%;
    display: none;
    top: 12px;

    left: 19px;
        
     
    }
    #header_name .user-seen{
        margin-bottom:3px; 
    }
    #header_name p{
        width:150%; 
    }
    .header {
       min-height:55px; 


    }
    #header_name .input_box {
        width: 72%;
    }

}


@media only screen and (max-width:750px) {

    #header_name .input_box {
        width: 64%;
    }

}


@media only screen and (max-width:600px) {

    #header_name .input_box {
        width: 54%;
    }

}


@media only screen and (max-width:460px) {

    #header_name .input_box {
        width: 44%;
    }

}